<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FourSteps | Home</title>
    <link rel="stylesheet"  href="../../assets/global.css" />
    <link rel="stylesheet"  href="../../assets/home.css" />
    <link rel="stylesheet"  href="../../assets/header-logged-out.css" />
    <link rel="stylesheet"  href="../../assets/footer.css" />
    <!-- <link rel="stylesheet" type="text/css" href="../../node_modules/materialize-css/dist/css/materialize.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css" />
    <!-- <link rel="stylesheet" href="../assets/materialize/css/materialize.css" /> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <header id="masthead">
            <div id="mast-nav">
                    <div class="navbar-header">

                      <div class="mast-brand">
                          <img width="194" height="36" class="logo-container" src="../assets/images/logos/foursteps-header-img.svg"/>
                      </div>
                    </div>
                    <div  class="collapse navbar-collapse mast-list-con" id="bs-example-navbar-collapse-1">
                      <div class="navbar-links">
                        <ul class="navbar-links-inner">
                            <li><a href="contact.html">Home</a></li>
                            <li><a href="portfolio.html">The FourSteps</a></li> 
                            <li><a href="contact.html">Blog</a></li>
                        </ul>

                        <div class="login-sign-group">
                            <button id="login-btn" class="waves-effect waves-light btn-flat">Login</button> 
                            <button id="signup-btn" class="waves-effect waves-light btn-flat"> Sign Up</button>
                        </div>

                    </div>
                    </div>
                  </div>
                </div>
        </header>
    <div class="content-container">
        <section class="content-section section-simplified">

            <div class="landons-border1">

            </div>
            <div class="landons-border2">
                <div class="img-wrapper">
                        <img style=" height: 100%;" src="../assets/images/photos/AppOnGalaxy.png" />

                </div>
            </div>
        </section>

        <section class="content-section stay-updated-con">
            <div class="stay-updated-title-group">
                <label>Stay Updated</label>
                <p>Follow our development and recieve FourSteps updates through our email list</p>
            </div>

            <input 
                type="text"
                placeholder="Email here"
            />
            <button class="waves-effect waves-light btn-flat" >Sign Up</button>
        </section>

        <section class="content-section-hero">
            <label>
                Enjoy your life on your own terms.
            </label>
        </section>


    </div>
    <footer class="footer-container"></footer>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>