<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FourSteps | Home</title>
    <link rel="stylesheet"  href="../../assets/global.css" />
    <link rel="stylesheet"  href="../../assets/home.css" />
    <link rel="stylesheet"  href="../../assets/header-logged-out.css" />
    <link rel="stylesheet"  href="../../assets/footer.css" />
    <!-- <link rel="stylesheet" type="text/css" href="../../node_modules/materialize-css/dist/css/materialize.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css" />
    <!-- <link rel="stylesheet" href="../assets/materialize/css/materialize.css" /> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <header id="masthead">
            <div id="mast-nav">
                    <div class="navbar-header">

                      <div class="mast-brand">
                          <img width="194" height="36" class="logo-container" src="../assets/images/logos/foursteps-header-img.svg"/>
                      </div>
                    </div>
                    <div  class="collapse navbar-collapse mast-list-con" id="bs-example-navbar-collapse-1">
                      <div class="navbar-links">
                        <ul class="navbar-links-inner">
                            <li><a href="/">Home</a></li>
                            <li><a href="portfolio.html">The FourSteps</a></li> 
                            <li><a href="contact.html">Blog</a></li>
                        </ul>

                        <div class="login-sign-group">
                            <a href="login"  id="login-btn" class="waves-effect waves-light btn-flat">Login</a> 
                            <a href="register" id="signup-btn" class="waves-effect waves-light btn-flat"> Sign Up</a>
                        </div>

                    </div>
                    </div>
                  </div>
                </div>
        </header>
    <div class="content-container">
        <section class="content-section section-simplified section-90">

            <div class="landons-border1">
                <div class="landons-wrapper1">
                    <div class="content-title-wrapper">
                            <label>Financial Management Simplified</label>
                            <p>Just four simple steps and you're set. </p>
                    </div>
                    <div class="home-column-container">
                        <div class="home-column">
                            <div class="home-col-item">
                                <div class="home-col-item-icon" style="background-image: url(../assets/images/icons/blue-magnifier.svg)"></div>
                                <div class="home-col-item-text-wrapper">
                                    <label>Discover</label>
                                    <label>Where you are</label>
                                </div>
                            </div>
                            <div class="home-col-item">
                                <div class="home-col-item-icon" style="background-image: url(../assets/images/icons/blue-logic.svg)"></div>
                                <div class="home-col-item-text-wrapper">
                                    <label>Automate</label>
                                    <label>your financial goals</label>
                                </div>
                            </div>
                            <div class="home-col-item">
                                    <button class="waves-effect waves-light btn-flat">Sign Up</button>
                            </div>

                        </div>

                        
                        <div class="home-column">
                                <div class="home-col-item">
                                        <div class="home-col-item-icon" style="background-image: url(../assets/images/icons/blue-blueprint.svg)"></div>
                                        <div class="home-col-item-text-wrapper">
                                            <label>Plan</label>
                                            <label>Where you want to go</label>
                                        </div>
                                </div>

                                <div class="home-col-item">
                                        <div class="home-col-item-icon" style="background-image: url(../assets/images/icons/blue-smile-smiley.svg)" >
        
                                        </div>
                                        <div class="home-col-item-text-wrapper">
                                            <label>Live</label>
                                            <label>without the stress</label>
                                        </div>
                                </div>
                                <div class="home-col-item">
                                        <button class="waves-effect waves-light btn-flat">Learn More</button>
                                </div>
                        </div>
                    </div>

                        
                </div>
            </div>
            <div class="landons-border2">
                <div class="img-wrapper">
                        <img style=" height: 100%;" src="../assets/images/photos/AppOnGalaxy.png" />
                </div>
            </div>
        </section>

        <section class="content-section stay-updated-con">
            <div class="stay-updated-title-group">
                <label>Stay Updated</label>
                <p>Follow our development and recieve FourSteps updates through our email list</p>
            </div>

            <input 
                type="text"
                placeholder="Email here"
            />
            <button class="waves-effect waves-light btn-flat" >Sign Up</button>
        </section>

        <section class="content-section-hero">
            <label>
                Enjoy your life on your own terms.
            </label>
        </section>
        <section class="content-section section2 section-simplified section-90">

                <div class="section2-wrapper">
                    <div class="section2-align-top">
                        <div class="content-title-wrapper">
                                <label>Trouble managing your...</label>
                        </div>
                        <div class="home-column-container-section2">
                            <div class="home-column-mini">
                                <div class="home-col-item-mini">
                                        <div style="background-image: url(../assets/images/icons/insurance-icon.svg)" class="home-col-item-icon-mini"></div>
                                        <label>Insurance?</label>
                                </div>
                                <div class="home-col-item-mini">
                                        <div style="background-image: url(../assets/images/icons/multicolor-beach-chair.svg)" class="home-col-item-icon-mini"></div>
                                        <label>Retirement Savings?</label>
                                </div>
                                <div class="home-col-item-mini">
                                        <div style="background-image: url(../assets/images/icons/student-loan-icon.svg)" class="home-col-item-icon-mini"></div>
                                        <label>Student Debt?</label>
                                </div>
                                <div class="home-col-item-mini">
                                        <div style="background-image: url(../assets/images/icons/ira-icon.svg)" class="home-col-item-icon-mini"></div>
                                        <label>Investments?</label>
                                </div>
                                <div class="home-col-item-mini">
                                        <div style="background-image: url(../assets/images/icons/tax-planning.svg)" class="home-col-item-icon-mini"></div>
                                        <label>Taxes?</label>
                                </div>
                                <div class="home-col-item-mini">
                                        <div style="background-image: url(../assets/images/icons/major-purchase.svg)" class="home-col-item-icon-mini"></div>
                                        <label>Major Purchase Goals?</label>
                                </div>
                            </div>


                            <div class="home-column-mini">
                                    <div class="home-col-item-mini">
                                            <div style="background-image: url(../assets/images/icons/multicolor-hospital.svg)" class="home-col-item-icon-mini"></div>
                                            <label>Medical Bills?</label>
                                    </div>
                                    <div class="home-col-item-mini">
                                            <div style="background-image: url(../assets/images/icons/multicolor-book.svg)" class="home-col-item-icon-mini"></div>
                                            <label>Education Fund?</label>
                                    </div>
                                    <div class="home-col-item-mini">
                                            <div style="background-image: url(../assets/images/icons/multicolor-document-files.svg)" class="home-col-item-icon-mini"></div>
                                            <label>Work Benefits?</label>
                                    </div>
                                    <div class="home-col-item-mini">
                                            <div style="background-image: url(../assets/images/icons/general-info-icon.svg)" class="home-col-item-icon-mini"></div>
                                            <label>Business Accounts?</label>
                                    </div>
                                    <div class="home-col-item-mini">
                                            <div style="background-image: url(../assets/images/icons/multicolor-chart-pie.svg)" class="home-col-item-icon-mini"></div>
                                            <label>Budget?</label>
                                    </div>
                                    <div class="home-col-item-mini">
                                            <div style="background-image: url(../assets/images/icons/personal-emergency-fund.svg)" class="home-col-item-icon-mini"></div>
                                            <label>Emergency Fund?</label>
                                    </div>
                                </div>
    
                        </div>
    
                            <div class="home-column-container-bottom">
                                <label>FourSteps is your one-stop shop for financial management.</label>
                                <button class="waves-effect waves-light btn-flat"> Get Started </button>
                            </div>
                    </div>
                </div>
                <div class="landons-border2">
                    <div style="display: flex; align-items: center" class="img-wrapper">
                            <img style="width: 100%;" src="../assets/images/home-placeholder-image.png" />
                    </div>
                </div>
            </section>


    </div>
    <footer class="footer-container">
        <div class="footer-list-item">
            <label>Contact</label>
            <ul class="footer-list">
                    <li> info@foursteps.io </li>
            </ul>
        </div>

    </footer>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>