:root{
    --dropShadowValue: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
    --LibreFranklin: 'Libre Franklin', 'sans-serif';
    --strategy-btn-width: 70px;
    --strategy-btn-height: 70px;
    --connect-accounts-icon: url('../images/discover/connect-accounts-icon.svg');
    --general-info-icon: url('../images/discover/general-info-icon.svg');
    --budget-icon: url('../images/discover/budget-icon.svg');
    --assets-liabilities-icon: url('../images/discover/assets-liabilities-icon.svg');
    --insurance-icon: url('../images/discover/insurance-icon.svg');
    --major-purchase: url('../images/offensivechecklist/major-purchase.svg');
    --major-purchase-disabled: url('../images/offensivechecklist/major-purchase-disabled.svg');
    --personal-checking-icon: url('../images/discover/personal-checking-icon.svg');
    --personal-savings-icon: url('../images/discover/personal-savings-icon.svg');
    --diversification-plan: url('../images/offensivechecklist/diversification-plan.svg');
    --diversification-plan-disabled: url('../images/offensivechecklist/diversification-plan-disabled.svg');
    --stocks-icon: url('../images/discover/stocks-icon.svg');
    --ira-icon: url('../images/discover/ira-icon.svg');
    --personal-emergency-fund: url('../images/defensivechecklist/personal-emergency-fund.svg');
    --personal-emergency-fund-disabled: url('../images/defensivechecklist/personal-emergency-fund-disabled.svg');
    --fees-and-commissions: url('../images/offensivechecklist/fees-and-commissions.svg');
    --fees-and-commissions-disabled: url('../images/offensivechecklist/fees-and-commissions-disabled.svg');
    --health-insurance: url('../images/defensivechecklist/health-insurance.svg');
    --health-insurance-disabled: url('../images/defensivechecklist/health-insurance-disabled.svg');
    --life-insurance: url('../images/defensivechecklist/life-insurance.svg');
    --life-insurance-disabled: url('../images/defensivechecklist/life-insurance-disabled.svg');
    --hsa-icon: url('../images/discover/hsa-icon.svg');
    --auto-loan-icon: url('../images/discover/auto-loan-icon.svg');
    --auto-insurance-disabled: url('../images/defensivechecklist/auto-insurance-disabled.svg');
    --student-loan-icon: url('../images/discover/student-loan-icon.svg');
    --disability-insurance: url('../images/defensivechecklist/disability-insurance.svg');
    --disability-insurance-disabled: url('../images/defensivechecklist/disability-insurance-disabled.svg');
    --debt-elimination: url('../images/defensivechecklist/debt-elimination.svg');
    --debt-elimination-disabled: url('../images/defensivechecklist/debt-elimination-disabled.svg');
    --blue-text-color: #3EAEB4;
    --credit-card-icon: url('../images/discover/credit-card-icon.svg');
    --longterm-care: url('../images/defensivechecklist/longterm-care.svg');
    --longterm-care-disabled: url('../images/defensivechecklist/longterm-care-disabled.svg');
    --tax-planning: url('../images/offensivechecklist/tax-planning.svg');
    --tax-planning-disabled: url('../images/offensivechecklist/tax-planning-disabled.svg');
}