@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Poppins:400,500,600,700,900');

:root{
    --dropShadowValue: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
    --LibreFranklin: 'Libre Franklin', 'sans-serif';
    --strategy-btn-width: 70px;
    --strategy-btn-height: 70px;
    --connect-accounts-icon: url('../images/discover/connect-accounts-icon.svg');
    --general-info-icon: url('../images/discover/general-info-icon.svg');
    --budget-icon: url('../images/discover/budget-icon.svg');
    --assets-liabilities-icon: url('../images/discover/assets-liabilities-icon.svg');
    --insurance-icon: url('../images/discover/insurance-icon.svg');
    --major-purchase: url('../images/offensivechecklist/major-purchase.svg');
    --major-purchase-disabled: url('../images/offensivechecklist/major-purchase-disabled.svg');
    --personal-checking-icon: url('../images/discover/personal-checking-icon.svg');
    --personal-savings-icon: url('../images/discover/personal-savings-icon.svg');
    --diversification-plan: url('../images/offensivechecklist/diversification-plan.svg');
    --diversification-plan-disabled: url('../images/offensivechecklist/diversification-plan-disabled.svg');
    --stocks-icon: url('../images/discover/stocks-icon.svg');
    --ira-icon: url('../images/discover/ira-icon.svg');
    --personal-emergency-fund: url('../images/defensivechecklist/personal-emergency-fund.svg');
    --personal-emergency-fund-disabled: url('../images/defensivechecklist/personal-emergency-fund-disabled.svg');
    --fees-and-commissions: url('../images/offensivechecklist/fees-and-commissions.svg');
    --fees-and-commissions-disabled: url('../images/offensivechecklist/fees-and-commissions-disabled.svg');
    --health-insurance: url('../images/defensivechecklist/health-insurance.svg');
    --health-insurance-disabled: url('../images/defensivechecklist/health-insurance-disabled.svg');
    --life-insurance: url('../images/defensivechecklist/life-insurance.svg');
    --life-insurance-disabled: url('../images/defensivechecklist/life-insurance-disabled.svg');
    --hsa-icon: url('../images/discover/hsa-icon.svg');
    --auto-loan-icon: url('../images/discover/auto-loan-icon.svg');
    --auto-insurance-disabled: url('../images/defensivechecklist/auto-insurance-disabled.svg');
    --student-loan-icon: url('../images/discover/student-loan-icon.svg');
    --disability-insurance: url('../images/defensivechecklist/disability-insurance.svg');
    --disability-insurance-disabled: url('../images/defensivechecklist/disability-insurance-disabled.svg');
    --debt-elimination: url('../images/defensivechecklist/debt-elimination.svg');
    --debt-elimination-disabled: url('../images/defensivechecklist/debt-elimination-disabled.svg');
    --blue-text-color: #3EAEB4;
    --credit-card-icon: url('../images/discover/credit-card-icon.svg');
    --longterm-care: url('../images/defensivechecklist/longterm-care.svg');
    --longterm-care-disabled: url('../images/defensivechecklist/longterm-care-disabled.svg');
    --tax-planning: url('../images/offensivechecklist/tax-planning.svg');
    --tax-planning-disabled: url('../images/offensivechecklist/tax-planning-disabled.svg');
}


h1 h2{
    font-family: 'Poppins', 'sans-serif';
}

h3 h4 h5 h6{
    font-family: 'Libre Franklin', 'sans-serif';
}

a { color: inherit; } 

.content-card:hover {
    /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
}

.sidebar-section{
    min-width: 200px;
    background: #D5D5D5;
}

.no-padding-left-right{
	padding-left: 0px;
	padding-right: 0px;
}

.foursteps-header{
    max-height: 50px;
}

.logo-container{
    min-width: 100px;
}

.section-parent{
    background: #E5E5E5;
    height: calc(100vh - 50px);
}


.section-child{
    height: 100%;
    width: 100%;
    background: white;
    margin: auto;
}

.section-title{
    margin-left: 5%;
    height: 20px;
}

.navtabs-container{
    display: flex;
    width: 100%;
    border-bottom: #D5D5D5 1px solid;
    user-select: none;
}

.navtabs-container a{
    text-decoration: none;
}

.navtabs-container a:hover{
    text-decoration: none;
}


.navtabs-child{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4AAEB5;
    width: 100%;
    height: 40px;
    text-align: center;
    /* border: 1px solid #929292; */
    background: #F2F2F2;
    cursor: pointer;
    
}



.navtabs-child label{
    font-weight: bold;
    /* font-weight: 400; */
    margin-bottom: 0px;
    font-size: 16px;
    font-family: 'Poppins', 'sans-serif';
    cursor: pointer;

}

.navtabs-child-selected label{
    opacity: 1;
    font-weight: 600;
    margin-bottom: 0px;
    font-family: 'Poppins', 'sans-serif';
    color: #4BB484;
    font-size: 16px;
    cursor: pointer;
}


.navtabs-child-selected{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    text-align: center;
    /* border-color: #929292; */
    background: #D5D5D5;
    /* border-width: 1px 1px 0px 1px; */
    /* border-style: solid; */
    cursor: pointer;
}


.nav-child-selected a {
    text-decoration: none;
}



@media only screen and (max-width: 400px){
    .navtabs-child label{
        font-size: 14px;
    }
    .navtabs-child-selected label{
        font-size: 14px;

    }
    
}
