:root{
    --dropShadowValue: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
    --LibreFranklin: 'Libre Franklin', 'sans-serif';
    --strategy-btn-width: 70px;
    --strategy-btn-height: 70px;
    --connect-accounts-icon: url('../assets/images/discover/connect-accounts-icon.svg');
    --general-info-icon: url('../assets/images/discover/general-info-icon.svg');
    --budget-icon: url('../assets/images/discover/budget-icon.svg');
    --assets-liabilities-icon: url('../assets/images/discover/assets-liabilities-icon.svg');
    --insurance-icon: url('../assets/images/discover/insurance-icon.svg');
    --major-purchase: url('../assets/images/offensivechecklist/major-purchase.svg');
    --major-purchase-disabled: url('../assets/images/offensivechecklist/major-purchase-disabled.svg');
    --personal-checking-icon: url('../assets/images/discover/personal-checking-icon.svg');
    --personal-savings-icon: url('../assets/images/discover/personal-savings-icon.svg');
    --diversification-plan: url('../assets/images/offensivechecklist/diversification-plan.svg');
    --diversification-plan-disabled: url('../assets/images/offensivechecklist/diversification-plan-disabled.svg');
    --stocks-icon: url('../assets/images/discover/stocks-icon.svg');
    --ira-icon: url('../assets/images/discover/ira-icon.svg');
    --personal-emergency-fund: url('../assets/images/defensivechecklist/personal-emergency-fund.svg');
    --personal-emergency-fund-disabled: url('../assets/images/defensivechecklist/personal-emergency-fund-disabled.svg');
    --fees-and-commissions: url('../assets/images/offensivechecklist/fees-and-commissions.svg');
    --fees-and-commissions-disabled: url('../assets/images/offensivechecklist/fees-and-commissions-disabled.svg');
    --health-insurance: url('../assets/images/defensivechecklist/health-insurance.svg');
    --health-insurance-disabled: url('../assets/images/defensivechecklist/health-insurance-disabled.svg');
    --life-insurance: url('../assets/images/defensivechecklist/life-insurance.svg');
    --life-insurance-disabled: url('../assets/images/defensivechecklist/life-insurance-disabled.svg');
    --hsa-icon: url('../assets/images/discover/hsa-icon.svg');
    --auto-loan-icon: url('../assets/images/discover/auto-loan-icon.svg');
    --student-loan-icon: url('../assets/images/discover/student-loan-icon.svg');
    --disability-insurance: url('../assets/images/defensivechecklist/disability-insurance.svg');
    --disability-insurance-disabled: url('../assets/images/defensivechecklist/disability-insurance-disabled.svg');
    --debt-elimination: url('../assets/images/defensivechecklist/debt-elimination.svg');
    --debt-elimination-disabled: url('../assets/images/defensivechecklist/debt-elimination-disabled.svg');
    --blue-text-color: #3EAEB4;
    --credit-card-icon: url('../assets/images/discover/credit-card-icon.svg');

}

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Poppins:400,500,600,700,900');

.hide{
    display:  none;
}

.navbar{
    border-radius: 0px;
}

#sidebar ul {
    list-style: none;
    padding-left: 0px;
    width: 100%;
}

#mySidenav li {
    width: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #707070;
    font-family: 'Poppins', 'sans-serif';
}


#mySidenav li:hover {
    background: #C9C9C9;
    cursor: pointer;
}


.discover-sidebar{
    height: calc(100vh - 90px);
    background-color: #D5D5D5;
    width: 100%;
    max-width: 213.33px;
    position: absolute;
    transition: 0.2s ease-in-out;

}

/* sidebar after */
 
.discover-sidebar--after{
    height: calc(100vh - 90px);
    background-color: #D5D5D5;
    position: absolute;
    transition: 0.2s ease-in-out;
}



#mySidenav li{
    display: flex;
    padding: 10px;
}

.discover-drop-arrow{
    display: none;
}

.discover-label{
    display: flex;
    justify-content: center;
    align-items: center;
}


#mySidenav li span{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

/* Connect Accounts Span */
#mySidenav li:nth-child(1) span{
    background-image: var(--connect-accounts-icon);
}

/* General Info Span */
#mySidenav li:nth-child(2) span{
    background-image: var(--general-info-icon);
}

/* Budget Span */
#mySidenav li:nth-child(3) span{
    background-image: var(--budget-icon);
}

/* Assets & Liabilities Span */
#mySidenav li:nth-child(4) span{
    background-image: var(--assets-liabilities-icon);
}

/* Insurance Span */
#mySidenav li:nth-child(5) span{
    background-image: var(--insurance-icon);
}

.sidebar-stats{
    background: #F2F2F2;
    width: 100%;
    height: 200px;
    font-family: var(--LibreFranklin);
}

/*SIDEBAR STATS STUFF*/
  .sidebar-stats{
     background: #F2F2F2;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
}
  
  .sidebar-row {
    width: 100%;
    border-collapse: collapse;
  }
  
  .sidebar-row tr{
    width: 100%;
  }
  
  .sidebar-row tr th:nth-child(1){
    text-align: left;
  }
  
  .sidebar-row tr th:nth-child(2){
    text-align: right;
  }
  
  .sidebar-row tr:nth-child(1){
    color: #3DB488; 
  }
  
  .sidebar-row tr:nth-child(2){
    color: #D65858;
  }
  
  .sidebar-row tr:nth-child(3){
    color: #707070; 
  }
  
  .sidebar-row tr:nth-child(3) th{
    border-top: 1px solid #707070;
  }
/*SIDEBAR STATS STUFF*/

  


.content-container{
    width: 100%;
    margin-left: 213.33px;
}

.content-wrapper{
    
}

.get-plan-div{
    display: flex;
    flex-direction: column;
}

.get-plan-title{
    font-family: 'Poppins', 'sans-serif';
    color: #4BB484;
    text-align: center;
    padding-bottom: 20px;
}

.get-plan-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;    
}

.price-plans-div{
    width: 100%;
    background: #D5D5D5;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', 'sans-serif';
    padding: 15px;
    color: #707070;
    box-shadow: var(--dropShadowValue);
}

.price-plans-div label:nth-child(1){
    font-size: 25px;
    padding-bottom: 5px;
    
}

.price-plans-div label:nth-child(2){
    font-size: 15px;
}

.checkout-item{
    margin-top: 10px;
    background: #D5D5D5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #4AAEB5;
    box-shadow: var(--dropShadowValue);
}
.card{
    background: #F2F2F2;
    width: calc(100% - 80px);
    margin: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 10px;
    box-shadow: var(--dropShadowValue);
}

.container-flex{
    display: flex;
    height: calc(100vh - 90px);
    overflow-y: auto;
}

.card-title{
    font-family: 'Poppins', 'sans-serif';
    color: #4BB484;
    font-weight: 700;
    margin-top: 0px;
    font-size: 24px;
    white-space: nowrap;
}

.card-title-checklist{
    font-family: 'Poppins', 'sans-serif';
    color: #4BB484;
    font-weight: 700;
    margin-top: 0px;
    font-size: 30px;
    white-space: nowrap;
}

.placeholder-height{
    height: 300px;
    overflow: hidden;
}

.card-subtitle{
    font-family: 'Poppins', 'sans-serif';
    font-weight: bolder;
    margin-top: 0px;
    color: #4AAEB5;
}

.title-wrapper{
    height: 50px;
    max-height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.title-wrapper-column{
    max-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.title-wrapper-column label:nth-child(2){
    color: var(--blue-text-color);
}


.checklist-title-wrapper{
    height: 50px;
    max-height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: #D5D5D5;
    justify-content: center;
    margin-bottom: 20px;
}

.checklist-title-wrapper label{
   color: #707070;
   font-size: 24px;
}

.card-content-group{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    width: 100%;
}

.subtitle-labels{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #707070;
}

.card-content-child{
    background: #E4E4E4;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: var(--dropShadowValue);
}

.card-content-column{
    height: 100%;
}

.card-content-column-child{
    width: 100%;
}

.card-combined-content-child{
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: var(--dropShadowValue);
}

.navtabs-sub-con{
    display: none;
}


.navtabs-sub-child{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    /* border: 1px solid #929292; */
    color: #707070;
}


.navtabs-sub-child label{
    font-size: 1em;
    margin-bottom: 0px;
}

.navtabs-sub-child label{
    cursor: pointer;
}

.navtabs-sub-child:hover {
    background: #C9C9C9;
    cursor: pointer;
}

.discover-sidebar--after{
    display: none;
}


.networth-header{
    margin-top: 20px;
    background-color: #D5D5D5;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: bold;
    box-shadow: var(--dropShadowValue);
}



.cashflow-header{
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: bold;
    background-color: #EEEEEE;
    box-shadow: var(--dropShadowValue);
}

.cashflow-header label:nth-child(1){
    color: #C6C6C6;
}


.cashflow-header label:nth-child(2){
    color: #B4E1CE;
}

.networth-header label:nth-child(1){
    color: #707070;
}

.networth-header label:nth-child(2){
    color: #D25956;
}

.card-content-column-child table tr th span{
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: var(--dropShadowValue);
}

.card-content-column-child table{
    font-family: var(--LibreFranklin);
    font-weight: 300;
    margin-top: 30px;
    color: #707070;
}


/*Personal Checking Icon*/
.card-content-column-child .networth-table tr:nth-child(1) th span{
    background-image: var(--personal-checking-icon);
}
/*Personal Checking Icon*/

/*Personal Savings Icon*/
    .card-content-column-child .networth-table tr:nth-child(2) th span{
        background-image: var(--personal-savings-icon);
    }
/*Personal Savings Icon*/

/*IRA Icon*/
    .card-content-column-child .networth-table tr:nth-child(3) th span{
        background-image: var(--ira-icon);
    }
/*IRA Icon*/

/*Stocks Icon*/
    .card-content-column-child .networth-table tr:nth-child(4) th span{
        background-image: var(--stocks-icon);
    }
/*Stocks Icon*/ 

/*HSA Icon*/
    .card-content-column-child .networth-table tr:nth-child(5) th span{
        background-image: var(--hsa-icon);
    }
/*HSA Icon*/

/*Crypto Currency Icon*/
    .card-content-column-child .networth-table tr:nth-child(6) th span{
        background-image: var(--connect-accounts-icon);
    }
/*Crypto Currency Icon*/


/*Auto Loan Icon*/
    .card-content-column-child .cashflow-table tr:nth-child(1) th span{
        background-image: var(--auto-loan-icon);
    }
/*Auto Loan Icon*/

/*Student Loan Icon*/
    .card-content-column-child .cashflow-table tr:nth-child(2) th span{
        background-image: var(--student-loan-icon);
    }
/*Student Loan Icon*/

/*Credit Card Icon*/
    .card-content-column-child .cashflow-table tr:nth-child(3) th span{
        background-image: var(--credit-card-icon);
    }
/*Credit Card Icon*/




.th-icon-con{
    width: 25px;
}

.th-currency-con{
    text-align: right;
}

tr.spaceUnder th {
    padding-bottom: 1em;
}


.strategy-list-con {
    width: 100%;
    justify-content: center;
    display: grid;       
    grid-template:  repeat(auto-fit, 70px) / repeat(auto-fit, 70px);
    grid-gap: 20px;
}

.strategy-circle{
	background-size: 100%;
    background-position: 50%;
    width: 100%;
    height: 100%;
	min-width: var(--strategy-btn-width);
	min-height: var(--strategy-btn-height);
	border-radius: 50%;
	transition: 0.2s ease-in-out;
    border: 0px;
    background-repeat: no-repeat;
    box-shadow: var(--dropShadowValue);
}

.strategy-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    height: 70px;
    text-align: center;
    cursor: pointer;
}

.strategy-list-con label{
    text-align: center;
	font-size: 10px;
    margin: 0px;
    padding-top: 20px;
}




/* DEFENSIVE */
.debt-elimination-active{
    background-image: var(--debt-elimination);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.debt-elimination-disabled{
    background-image: var(--debt-elimination-disabled);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.personal-emergency-fund-active{
    background-image: var(--personal-emergency-fund);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.personal-emergency-fund-disabled{
    background-image: var(--personal-emergency-fund-disabled);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.life-insurance-active{
    background-image: var(--life-insurance);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.life-insurance-disabled{
    background-image: var(--life-insurance-disabled);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.disability-insurance-active{
    background-image: var(--disability-insurance);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.disability-insurance-disabled{
    background-image: var(--disability-insurance-disabled);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}


.health-insurance-active{
    background-image: var(--health-insurance);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.health-insurance-disabled{
    background-image: var(--health-insurance-disabled);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.longterm-care-active{
    background-image: url('./images/defensivechecklist/LongtermCare.png');
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}



.auto-insurance-active{
    background-image: url('./images/defensivechecklist/AutoInsurance.png');
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.mortgage-insurance-active{
    background-image: url('./images/defensivechecklist/MortgageInsurance.png');
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

/* OFFENSIVE */

.tax-planning-active{
    background-image: url('./images/offensivechecklist/TaxPlanning.png');
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.major-purchase-active{
    background-image: var(--major-purchase);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.major-purchase-disabled{
    background-image: var(--major-purchase-disabled);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.rate-of-return-active{
    background-image: url('./images/offensivechecklist/RateofReturn.png');
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.fees-and-commissions-active{
    background-image: var(--fees-and-commissions);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.fees-and-commissions-disabled{
    background-image: var(--fees-and-commissions-disabled);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.diversification-plan-active{
    background-image: var(--diversification-plan);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.diversification-plan-disabled{
    background-image: var(--diversification-plan-disabled);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}









@media only screen and (max-width: 1031px){
    #graph-projections-parent{
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 911px){
    .container-flex{
        flex-direction: column;
        width: 100%;
    }
    .navtabs-sub-con{
        display: flex;
        width: 100%;
        height: 40px;
        background: #D5D5D5;
        justify-content: space-around;
        align-items: center;
        border-top: #e7e7e7 1px solid;
    }


    .content-container{
        margin-left: 0;
    }

    .card-content-group{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 40px;
        width: 100%;
    }
}
  

@media only screen and (max-width: 629px){
    #mySidenav li {
        padding: 10px;
    }

    .discover-drop-arrow{
        display: flex;
        width: 20px;
        height: 20px;
        font-size: 11px;
        justify-content: center;
        align-items: center;
    }
    
    .discover-sidebar--after{
        display: flex;
        flex-direction: column;
        height: calc(100vh - 90px);
        background-color: #D5D5D5;
        width: 100%;
        position: absolute;
        transition: 0.2s ease-in-out;
    }

    .navtabs-sub-con{
        display: none;
    }
}

@media only screen and (max-width: 500px){
    .card-title{
        font-size: 17px;
    }
}