
@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=Libre+Franklin);




h1 h2{
    font-family: 'Poppins', 'sans-serif';
}

h3 h4 h5 h6{
    font-family: 'Libre Franklin', 'sans-serif';
}

a { color: inherit; } 


.content-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white;
    padding-bottom: 0px;
    max-height: 100%;
}

.column-wrapper{
    display: flex;
    flex-direction: column;
}

.card{
    background: #F2F2F2;
    width: calc(100% - 80px);
    height: 100%;
    margin: 40px;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1); */
}

.card-content{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    max-height: 100%;
}

.card-content-group{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    max-height: 100%;
    justify-content: space-between;
}

.card-group-item{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content-card:hover {
    /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
  }

.sidebar-section{
    min-width: 200px;
    background: #D5D5D5;
}

.no-padding-left-right{
	padding-left: 0px;
	padding-right: 0px;
}

.foursteps-header{
    max-height: 50px;
}

.logo-container{
    min-width: 100px;
}

.section-parent{
    background: #E5E5E5;
    height: calc(100vh - 50px);
}


.section-child{
    height: 100%;
    width: 100%;
    background: white;
    margin: auto;
}

.section-title{
    margin-left: 5%;
    height: 20px;
}

.navtabs-container{
    display: flex;
    width: 100%;
}

.navtabs-child{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4AAEB5;
    width: 100%;
    height: 40px;
    text-align: center;
    /* border: 1px solid #929292; */
    background: #F2F2F2;
    
}



.navtabs-child label{
    font-weight: bold;
    /* font-weight: 400; */
    margin-bottom: 0px;
    font-family: 'Poppins', 'sans-serif';
}

.navtabs-child-selected{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    text-align: center;
    /* border-color: #929292; */
    background: #D5D5D5;
    /* border-width: 1px 1px 0px 1px; */
    /* border-style: solid; */
}

.navtabs-child-selected label{
    opacity: 1;
    font-weight: 600;
    margin-bottom: 0px;
    font-family: 'Poppins', 'sans-serif';
    color: #4BB484;

}

.nav-child-selected a {
    text-decoration: none;
}

.child-section-wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    /* border-color: #929292; */
    /* border-width: 0px 1px 1px 1px; */
    /* border-style: solid; */
}

.sidebar-wrapper{
    position: relative;
    width: 100%;
}

#mySidenav {
    list-style: none;
    padding-left: 0px;
    width: 100%;
}

#mySidenav li {
    width: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
}



/* sidebar stuff */
/* Style the links inside the sidenav */



/* @media only screen and (max-width: 765px){
    .section-child{
        width: 100%;
    }

    .child-section-wrapper{
        padding: 40px;
    }
} */