.snapshot-live-container{
    width: 100%;
    /* max-width: 1000px */
}

.backgroundcolor{
  background-color: #e6e6e6;
}

.shadow {
  -webkit-box-shadow: 1px 1px 2px 0px #808080;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 2px 0px #808080;  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 2px 0px #808080;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.navbar-margins{
  margin-left: 51px;
  margin-right: 50px;
}

/* emergency fund */
.strategy-btn-emergencyfund-plan-active{
    background-image: url('./images/defensivechecklist/PersonalEmergencyFund.png');
    background-size: 100%;
    background-position: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
    border: 0px;
}

/*  debt elimination*/
.strategy-btn-debtelimination-plan-active{
    background-image: url('./images/defensivechecklist/DebtElimination.png');
    background-size: 100%;
    background-position: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
    border: 0px;
}
/*  debt elimination*/
.strategy-btn-homeinsurance-plan-active{
    background-image: url('./images/defensivechecklist/Home Insurance.png');
    background-size: 100%;
    background-position: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
    border: 0px;
}

.strategy-btn-small-plan-active{
    background-image: url('./images/defensivechecklist/small.png');
    background-size: 100%;
    background-size: 40px auto;
    background-position: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
    border: 0px;
}

/* credit card */
.strategy-btn-credit-plan-active{
    background-image: url('./images/defensivechecklist/Credit Score Check.png');
    background-size: 100%;
    background-size: 40px auto;
    background-position: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
    border: 0px;
}

/* auto loan */
.strategy-btn-auto-plan-active{
    background-image: url('./images/defensivechecklist/AutoInsurance.png');
    background-size: 100%;
    background-size: 40px auto;
    background-position: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
    border: 0px;
}

/* setting navbar margin */
.navbar-brand{
  margin-bottom: -32px;
}

/* setting the logo */
.logo-container{
  margin-left:22px;
  margin-top:-7px;
}

/* styling up the headers */
.discover-main-title{
  font-weight: bold;
  color: #4aaaa5;
  margin-bottom:-45px;
  text-align: center;
}

/*  */
.headings{
  font-weight: bold;
  color:#595959;
}


.tracker-main{
  height:50%;
  margin-top:11px;
  height:110px;
  padding-top:5px;
}

.progress-bar-success{
  background-color: #5EDA9E;
}


@media (min-width: 978px) {
    .add-padding {
      padding:0;
      margin:0;
    }

  }

/*  */
.longterm-checklist-margin{
  margin-top:52px;
}

#completed-achievments {
  margin-top: 52px;
  margin-bottom: -14px;
}
